[submodule "tpruvot/ccminer"]
	path = tpruvot/ccminer
	url = https://github.com/tpruvot/ccminer.git
[submodule "nemosminer/ccminer"]
	path = nemosminer/ccminer
	url = https://github.com/nemosminer/ccminer.git
[submodule "sp-hash/ccminer"]
	path = sp-hash/ccminer
	url = https://github.com/sp-hash/ccminer.git
[submodule "klaust/ccminer"]
	path = klaust/ccminer
	url = https://github.com/KlausT/ccminer.git
[submodule "ccminer-xevan/ccminer"]
	path = ccminer-xevan/ccminer
	url = https://github.com/krnlx/ccminer-xevan.git
[submodule "ccminer-phi-anxmod/ccminer"]
	path = ccminer-phi-anxmod/ccminer
	url = https://github.com/nemosminer/ccminer-phi-anxmod.git
[submodule "nanashi/ccminer"]
	path = nanashi/ccminer
	url = https://github.com/Nanashi-Meiyo-Meijin/ccminer.git
[submodule "alexis78/ccminer"]
	path = alexis78/ccminer
	url = https://github.com/alexis78/ccminer.git
[submodule "MSFTserver/ccminer"]
	path = MSFTserver/ccminer
	url = https://github.com/MSFTserver/ccminer.git
[submodule "krnlx/ccminer"]
	path = krnlx/ccminer
	url = https://github.com/krnlx/ccminer-xevan.git
[submodule "216k155/ccminer"]
	path = 216k155/ccminer
	url = https://github.com/216k155/ccminer-phi-anxmod.git
[submodule "djm34/ccminer"]
	path = djm34/ccminer
	url = https://github.com/djm34/ccminer-msvc2015.git
[submodule "phasiclabs/ccminer"]
	path = phasiclabs/ccminer
	url = https://github.com/phasiclabs/ccminer-x16r.git
[submodule "todd1251/ccminer"]
	path = todd1251/ccminer
	url = https://github.com/todd1251/ccminer-x16r.git
