[submodule "tpruvot/ccminer"]
	path = tpruvot/ccminer
	url = https://github.com/tpruvot/ccminer.git
[submodule "nemosminer/ccminer"]
	path = nemosminer/ccminer
	url = https://github.com/nemosminer/ccminer.git
[submodule "sp-hash/ccminer"]
	path = sp-hash/ccminer
	url = https://github.com/sp-hash/ccminer.git
[submodule "klaust/ccminer"]
	path = klaust/ccminer
	url = https://github.com/KlausT/ccminer.git
